@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom fonts */
@font-face {
  font-family: 'Circular Std';
  src: url("../src/assets/fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url("../src/assets/fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Circular Std";
}

#root {
  height: 100%;
}